{% extends 'base.html' %}

{% load static %}
 {% block content %}

<p><img src="{{ book.poster.url }}" width="110" height="150">
    "{{ book.title }}"</p>
<p>Категории:
<a href="{% url 'category_detail' book.categories.pk %}"> {{ book.categories }}</a></p>

Авторы:
    {% for author in authors %}
<li><a href="{% url 'author_book' author.pk %}"> {{ author }}</a></li>
    {% endfor %}

{% if book.pdf %}
Скачать: <a href="{{ book.pdf.url }}" download  class="btn btn-dark float-right">Download</a>
{% endif %}



<p>Описание:<br>
{% if book.description %}
{{ book.description }}
{% endif %}
</p>
{% if images %}
<p>Иллюстрации обложек</p>
    {% for image in images %}
    <img src="{{ image.picture.url }}" width="100" height="100">
    {% endfor %}

<p>Иллюстрация в формате webp</p>
{% for image in images %}
    <img src="{{ image.image.url }}" width="100" height="100">
{% endfor %}
{% endif %}

{% endblock %}