{% extends 'base.html' %}

{% load static %}
 {% block content %}
<p>

{% for book in books %}
    <a href="{% url 'book_detail' book.pk %}"> <img src="{{ book.poster.url }}" width="110" height="150"/></a>
{% endfor %}
</p>

<!-- Пагинация  -->
<div class="post-list">
{% for object in object_list %}
    <div class="post">
        <h3>{{ object.name }}</h3>
        <p>
            {{ object.text|truncatewords_html:10 }}
        </p>
    </div>
{% endfor %}

    <div class="example2-pagination">
        {% for num in page_obj.paginator.page_range %}
            {% if num < page_obj.number and num < 4 %}
                <a class="example2-pagination_link" href="?page={{ num }}">{{ num }}</a>
            {% elif num < page_obj.number and num > page_obj.number|add:-4 %}
                <a class="example2-pagination_link" href="?page={{ num }}">{{ num }}</a>
            {% elif num == page_obj.number %}
                <span class="example2-pagination_link example2-pagination_link__active">{{ num }}</span>
            {% elif num > page_obj.number and num < page_obj.number|add:4 %}
                <a class="example2-pagination_link" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number and num > page_obj.paginator.num_pages|add:-3 %}
                <a class="example2-pagination_link" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}