<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Bookmarket</title>
        <meta
            name="description"
            content="A basic responsive web page – an example from Chapter 1"
        />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    </head>
       <body>
        {% block content %}
        {% endblock %}
       </body>

</html>