{% extends 'base.html' %}

{% load static %}
 {% block content %}

        <div class="IntroWrapper">
            <h2 class="IntroText">
                Иногда оклеветанный и неправильно понятый; django — типичная классика.
            </h2>
            <div class="MoneyShot">
                <img
                    class="MoneyShotImg"
                    src="{% static 'img/django2.jpg' %}"
                    alt="Incredible scones"
                />
                <p class="ImageCaption">
                    Django is cool banana!
                </p>
            </div>
        </div>
        <p>Рекомендации по рецепту и подаче ...</p>
        <div class="Ingredients">
            <h3 class="SubHeader">Кусok кода Django</h3>
            <code>
                class Book(models.Model):</br>
                title = models.CharField(verbose_name='title', max_length=100, unique=True)</br>
                    authors = models.ManyToManyField(Author)</br>
                    poster = models.ImageField(verbose_name='poster', upload_to="img/")</br>
                    categories = models.ForeignKey(Category, on_delete=models.CASCADE)</br>
                    pdf = models.FileField(verbose_name='pdf', upload_to="pdf", null=True, blank=True)</br>
                    </br>
                class BooksMainPageView(View):</br>
                    def get(self, request):</br>
                        return render(request, "books/index.html")</br>
            </code>
        </div>
        <div class="HowToMake">
            <h3 class="SubHeader">Цитаты</h3>
            <ol class="MethodWrapper">
                <li>
                    Каждая веб страница в нашем проекте Django нуждается в файлах urls.py и views.py что бы
                    придти к шаблону. Для новичков факт того, что порядок не имеет значения и нам нужны
                    все 3 файла и очень часто четвертый файл models.py для базы данных, сбивает с толку.
                    Обычно я предпочитаю начинать с urls и работать от него, но не существует «правильного
                    способа» создания этой связанной сети файлов Django.
                    Давайте начнем с нашего urls.py на уровне проекта, чтобы установить правильный путь для
                    веб страниц в пределах приложения. Поскольку мы хотим создать домашнюю страницу, мы
                    не добавляем дополнительный префикс к маршруту URL, который обозначается пустой
                    строкой " ". Мы также импортируем include во второй строке, чтобы кратко добавить
                    приложение pages в наш основной файл urls.py .
                </li>
                <li>
                    Теперь, когда у нас имеется класс Cart для управления корзиной, необходимо
                    создать представления, чтобы добавлять, обновлять или удалять товары из
                    корзины. Нужно создать следующие ниже представления:
                    <ol>представление добавления или обновления товаров в корзине, которое
                    может обрабатывать текущие и новые количества;</ol>
                    <ol>представление удаления товаров из корзины;</ol>
                    <ol>представление отображения товарных позиций корзины и итоговых
                        величин.</ol>
                </li>
                <li>
                    Когда SVG-графика вставлена в тег object или непосредственно в код страницы, по-
                    является возможность работать с SVG-графикой через JavaScript. Средствами
                    JavaScript можно изменить класс самого SVG-элемента или элемента, в который за-
                    ключена SVG-графика. Это должно инициировать запуск CSS-анимации, например:
                    <p><code>svg {<br>
                    /* нет анимации */<br>
                    }<br>
                    .added-with-js svg {<br>
                    /* есть анимация */<br>
                        }</code></p>
                    Также можно применить эффект анимации к SVG-графике с помощью Java­
                    Script
                </li>
                <li>
                    Если вы выполните эти шаги, получившийся пакет mymodule будет работать,
                    как единый логический модуль:
                    <p>>> import mymodule<br>
                    >>> a = mymodule.A()<br>
                    >>> a.spam()<br>
                    A.spam<br>
                    >>> b = mymodule.B()<br>
                    >>> b.bar()<br>
                    B.bar<br>
                    >>><br>
                    </p>
                </li>
            </ol>
        </div>
  {% endblock %}
